body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}

#title-resize {
	background: #009900;
	height: 32px;
	width: 100%;
	position: fixed;
	z-index: 9992;
}

#titlebar {
	position: relative;
	z-index: 9999;
	-webkit-app-region: drag;
	height: 28px;
	background-color: #009900;
	padding: none;
	top: 4px;
	margin-left: 4px;
	margin-right: 4px;
}

#title {
	position: fixed;
	color: #fff;
	top: 6px;
	left: 32px;
}

#titleBtns {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 9993;
}

.nav-wrapper {
	position: fixed;
	z-index: 9991;
}

.main-button {
	font-family: arial;
	color: #fff;
	font-size: 16px;
	padding: 4px;
	background: #009900;
	text-decoration: none;
	border-left: solid #fff 1px;
}
/**.main_button:hover {
	background: #ff0000;
	text-decoration: none;
	color: #fff;
	border-left: solid #fff 1px;
	padding: 4px;
}**/

.login-place {
	width: 600px;
	height: 100px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* label focus color */
.input-field input[type=text]:focus + label {
	color: #000;
}

/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #039be5;
	box-shadow: 0 1px 0 0 #fff;
}

/* label focus color */
.input-field input[type=password]:focus + label {
	color: #000;
}

/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #039be5;
	box-shadow: 0 1px 0 0 #fff;
}
