.logged-overlay {
	height: 100%;
	width: 0;
	position: fixed;
	top: 32;
	right: 0;
	background: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 9991;
}

.overlay-logged-content {

}

.main-overlay {
	height: 100%;
	width: 0;
	position: fixed;
	top: 32;
	left: 0;
	background: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 9991;
}

.overlay-main-content {

}
